article
  &.main
    border: none
    overflow: hidden
    h1
      min-height: 80px
      line-height: 80px
      border-bottom: 1px solid
      padding: 0 40px
      font-weight: 100
    .article-content
      padding: .5rem 40px 1.5rem
      max-width: 780px
      h2
        margin-bottom: .5rem
      p
        margin-bottom: 1rem
  .heading
    overflow: hidden
    h3
      display: inline-block
    a
      float: right
      text-decoration: none
      border: 1px solid #fec400
      padding: 2px 10px
      &:hover
        color: darken(#fec400, 7%)!important
  .note
    border-left: 3px solid #fec400
    padding: 10px 20px
    background: #fdfbf6
    font-style: italic
    margin-bottom: 10px
