section
  &.presenter
    background: image-url('hero.svg') no-repeat 90% 100% #72746e
    background-size: auto 100%
    color: #fff
    +screen(tablet-down)
    background-size: 60% auto
    h1
      letter-spacing: -4px
  &.shaded
    background: #edebe8
  &.light
    background-color: #fff
