@import "applepie/mixins/vendor_prefixes"
.side-subnavigation
  list-style-type: none
  position: fixed
  z-index: 100
  top: 70px
  left: 70px
  margin: 0
  padding: 0
  width: 200px
  background-color: rgb(238, 238, 238)
  height: 100%
  +transition(margin .3s)
  +box-sizing(border-box)
  -webkit-font-smoothing: antialiased
  li a
    color: #777
    text-decoration: none
    display: block
    padding: 8px 20px 8px 20px
    +box-sizing(border-box)
    +transition(color .4s)
    &:hover
      color: #333
  li:first-child
    margin-top: 10px
  @media only screen and (max-width: 820px)
    margin-left: -200px
    &.expanded
      margin-left: 0
  @media only screen and (max-width: 480px)
    margin-left: -220px
    &.expanded
      margin-left: -20px
.subnavigation-toggle
  display: none
  width: 24px
  height: 24px
  padding: 10px 8px 8px
  margin-bottom: 20px
  cursor: pointer
  background: #ECF0F1
  +border-radius(20px)
  +transition(all 0.3s)
  &:hover
    background: #D6DBDC
  span
    display: block
    height: 4px
    background: #9aa1a2
    margin: 1px 0 4px 1px
    +border-radius(3px)
  @media only screen and (max-width: 820px)
    display: block
    &.expanded
      margin-left: 160px
  @media only screen and (max-width: 480px)
    &.expanded
      margin-left: 185px
