article
  &.main
    border: none
    overflow: hidden
    h1
      min-height: 80px
      line-height: 80px
      border-bottom: 1px solid
      padding: 0 40px
      font-weight: 100
    .article-content
      padding: 1.5rem 40px
      max-width: 780px

