.logo
  display: block
  width: 80px
  height: 70px
  text-indent: -9999px
  background: #121212 image-url('logo.png') 0 0
  border-bottom: 1px solid #2a2a2a
  .arroach &
    background-color: #ca8237
    background-position: 0 -70px
  .toolkit &
    background-color: #099386
    background-position: 0 -140px
  .faq &
    background-color: #aa2e24
    background-position: 0 -210px

.brand
  font: 1.875rem 'Play'
  .authorship
    font:
      family: initial
      size: .55rem
    display: inline-block
    .company
      display: block
