code
  border: 1px dotted #eaeaea
  padding: 10px
  &.inline
    display: inline-block
    line-height: 1rem
    font-size: 1rem
    p &
      font-size: .75rem
      line-height: .4rem

pre
  display: block

pre, code
  max-width: 100%
  white-space: pre-wrap
  font: 1em/1.4em "Monaco"
  -webkit-font-smoothing: auto
  +border-radius(5px)
  color: #cdcccc
  .tag
    color: #5c6166
  .value
    color: #00a59d
  .title
    color: #893d73
  .attribute
    color: #994e4e
