<%= render_partial "subnavigation" %>
<header class="header">
  <h1>Toolkit</h1>
</header>
<article class="main">
  <h1>Components</h1>
  <div class="article-content">
    <div class="component mbl">
      <h2>Navigation</h2>
      <div class="example">
        <ul class="navigation">
          <li><a href="#">Home</a></li>
          <li><a href="#">Docs</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
    </div> <!-- /component -->
    <div class="component mbl">
      <h3>Inside navbar</h3>
      <p></p>
      <div class="example">
        <div class="navbar">
          <ul class="navigation">
            <li><a href="#">Home</a></li>
            <li><a href="#">Docs</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
        </div>
      </div>
    </div> <!-- /component -->
    <div class="component mbl">
      <h2>Tabs</h2>
      <div class="example">
        <ul class="tabs">
          <li><a href="#">Home</a></li>
          <li><a href="#">Docs</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div> <!-- /example -->
    </div> <!-- /component -->
    <div class="component mbl">
      <h2>Pagination</h2>
      <div class="example">
        <ul class="pagination">
          <li class="prev"><a href="#">&lt;</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li class="next"><a href="#">&gt;</a></li>
        </ul>
      </div> <!-- /example -->
    </div> <!-- /component -->
    <div class="component mbl">
      <h2>Flash</h2>
      <div class="example">
        <div class="flash mbs">
          Flash message: default
        </div> <!-- /flash -->
        <div class="flash error mbs">
          Flash message: error
        </div> <!-- /flash -->
        <div class="flash warning mbs">
          Flash message: warning
        </div> <!-- /flash -->
        <div class="flash success">
          Flash message: success
        </div> <!-- /flash -->
      </div> <!-- /example -->
    </div> <!-- /component -->
    <div class="component mbl">
      <h2>Buttons</h2>
      <div class="example">
        <button class="button">Button: default</button>
        <button class="button warning">Button: warning</button>
        <button class="button success">Button: success</button>
        <button class="button disabled">Button: disabled</button>
        <hr class="mbs"/>
        <a href="#" class="button">Button: default</a>
        <a href="#" class="button warning">Button: warning</a>
        <a href="#" class="button success">Button: success</a>
        <a href="#" class="button disabled">Button: disabled</a>
      </div> <!-- /example -->
    </div> <!-- /component -->
    <%#
    <div class="component mbl">
      <h2>Buttons Modifications</h2>
      <div class="example">
        <a href="#" class="button disabled">Button: disabled</a>
      </div> <!-- example -->
    </div>
    <h2>Iconed Buttons</h2>
    <div class="component mbl">
      <div class="example">
        example
      </div> <!-- example -->
    </div>
    <div class="component mbl">
      <h2>Input</h2>
      <div class="example">
        example
      </div> <!-- example -->
    </div>
    <div class="component mbl">
      <h2>Textarea</h2>
      <div class="example">
        example
      </div> <!-- example -->
    </div> <!-- component -->
    <div class="component mbl">
      <h2>Select</h2>
      <div class="example">
        <select id="form-select">
          <option>test</option>
        </select>
      </div> <!-- example -->
    </div> <!-- component -->
    <div class="component mbl">
      <h2 class="mbm">Tables</h2>
      <div class="example">
        <table>
          <tbody>
            <tr>
              <td>Table</td>
            </tr>
          </tbody>
        </table>
      </div> <!-- example -->
    </div> <!-- /component -->
    %>
  </div> <!-- /article-content -->
</article>
