<%= render_partial "subnavigation" %>
<header class="header">
  <h1>Toolkit</h1>
</header>
<article class="main">
  <h1>Getting Started</h1>
  <div class="article-content">
    <h3>ApplePie Toolkit CSS</h3>
    <div class="mbl">
      <p>Simplest way to get started - straight CSS Toolkit version that includes everything you need to do rapid prototyping.
      It's a good choice if you need a simple tool for building web interface and you are ok with 'default UI'. Just grab a CSS file (applepie.css or applepie.min.css),
      include it to a web page and start doing markup without additional efforts on styling elements. </p>
      <a href="" class="button mrs">Download ApplePie Toolkit CSS</a> <span class="muted">v0.1.0-rc.1</span>
    </div>
    <h3>Feel full power with SASS</h3>
    <div class="mbm">
      <p>If you are using SASS preprocessor you can use all it's amazing feautres like nested selectors, mixins, loops etc.
        Moreover Apple Pie is built using mixins as tiny funсtions that generate CSS rules for your objects, and there is a
        <strong>manifest</strong> CSS file where you define class names for objects and what mixins are used there.</p>
      <p>This means that you can have a pool of as many differens button mixins as you want (including written by yourself) and you
      can change buttons appearence just by calling different mixins inside <code>.button</code> class in manifest file.</p>
    </div>
    <h3>System Requirements</h3>
    <div class="mbm">
      <p>Before you can dive in usage of SASS version of Apple Pie Toolkit, make sure you have all dependencies installed.</p>
      <ul>
        <li><a href="http://git-scm.com/" target="_blank">Git</a></li>
        <li><a href="http://nodejs.org/" target="_blank">NodeJS</a></li>
      </ul>
    </div>
    <h3>Installing with Bower</h3>
    <p>If you haven't installed <a href="http://bower.io/" target="_blank">Bower</a> previously:</p>
    <code class="mbm"><pre>
  npm install -g bower
    </pre></code>
    <p>Now you can add ApplePie Toolkit to a project by including it to <code>bower.json</code> file or just fetch it to your project
    folder: </p>
    <code class="mbm">
      <pre>
  cd MY_PROJECT
        bower install applepie
      </pre></code>
    <p>Now you can find SASS files to use in your app inside <code>builds/sass</code> folder.</p>
  </div>
</article>
