<header class="header">
  <h1>Toolkit</h1>
</header>
<article class="main">
   <h1>Helpers</h1>
   <div class="article-content">
      <p>
         Helpers is scope that provides some global tools that developers use to define simple element behavior which cannot be treated as element-specific. According to tendency to code elements location independent, these rules cannot be included within element (object or module) style rules.
       </p>
       <p>
         So considering written above, we separated them as isolated classes which can be added to any element to bring needed effect. They can be appraised as a global modifier classes.
       </p>
       <p>
         Obviously, each developer has own helpers or something that makes life easier. So feel free to add anything you feel considerable to <code class="language-markup inline">helpers.sass</code>
       </p>
       <pre><code class="language-scss">
         .right {
           float: right;
         }

         .left {
           float: left;
         }

         .center {
           margin-left: auto;
           margin-right: auto;
         }

         .relative {
           position: relative;
         }

         .hidden {
           display: none;
         }

         .by-left {
           text-align: left;
         }

         .by-right {
           text-align: right;
         }

         .by-center {
           text-align: center;
         }

         .fittogrid {
           max-width: 100%;
         }
       </code></pre>
   </div>
</article>
