html, body
  height: 100%
  margin: 0
  padding: 0
  background: #fff
  font-family: "Open Sans"

nav.navbar
  float: left
  width: 80px
  height: 100%
  background: #222222

header.header
  padding: 15px 40px
  height: 70px
  width: 100%
  color: #fff
  +box-sizing(border-box)
  position: fixed
  top: 0
  background: #72746e
  &.approach
    background: #fec600
  &.toolkit
    background: #04aa9d
  &.faq
    background: #f8581f
  h1
    font: 1.875rem 'Play'

section.content
  overflow: hidden
  display: table-cell
  float: none
  width: auto
  _margin-right: -3px
  _left: -3px
  _position: relative
  *display: block
  *zoom: 1
  &:after
    content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    clear: both
    display: block
    height: 1px !important
    line-height: 0
    visibility: hidden

section.body
  overflow: scroll
  position: relative
  margin-bottom: -1px
  &:before
    content: ''
    display: block
    height: 70px
  &:after
    content: ''
    display: block
    height: 175px
  > .container
    margin:
      top: 30px
      bottom: 30px

.container
  margin: 0 40px
  max-width: 1040px

footer.footer
  +vertical-gradient(#72746e, #81807a)
  padding: 40px 0
  position: fixed
  bottom: 0
  width: 100%
