html, body
  height: 100%
  margin: 0
  padding: 0

nav.navbar
  float: left
  width: 80px
  height: 100%
  background: #222222

header.header
  padding: 0 40px
  height: 80px
  width: 100%
  background: #72746e
  color: #fff

section.content
  overflow: hidden
  display: table-cell
  float: none
  width: auto
  _margin-right: -3px
  _left: -3px
  _position: relative
  *display: block
  *zoom: 1
  &:after
    content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    clear: both
    display: block
    height: 1px !important
    line-height: 0
    visibility: hidden

section.body
  overflow: scroll
  margin-bottom: -1px

.container
  margin: 0 60px
  max-width: 1040px

footer.footer
  background: #81807a
  padding: 40px 0
