@import "base/mixins"
$mainGray: #72746e

html, body
  height: 100%
  margin: 0
  padding: 0

body
  min-width: 640px
  background-color: $mainGray
  &[class]
    background-color: white
    section.body
      padding-top: 70px

nav.navbar
  position: fixed
  left: 0
  top: 0
  float: left
  width: 80px
  height: 100%
  background: #222222
  z-index: 102

header
  &.header
    padding: 15px 40px
    +box-sizing(border-box)
    height: 70px
    color: #fff
    background-position: center right
    background-repeat: no-repeat
    +background-size(auto 100%)
    width: 100%
    position: fixed
    top: 0
    left: 0
    z-index: 101
    padding-left: 120px
    h1
      font:
        size: 2.2rem
        family: "Maven Pro"
        weight: 500
      line-height: .9em

section.content
  overflow: hidden
  float: none
  width: auto
  margin:
    bottom: -175px
    left: 80px
  min-height: 100%
  _margin-right: -3px
  _left: -3px
  _position: relative
  *display: block
  *zoom: 1
  &:after
    height: 1px
    content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    clear: both
    display: block
    line-height: 0
    visibility: hidden


section.body
  overflow: scroll
  position: relative
  min-height: 100%
  +box-sizing(border-box)
  &:after
    // footer push
    content: ""
    display: block
    height: 175px
  > .container
    margin:
      top: 30px
      bottom: 30px

.container
  margin: 0 40px
  max-width: 1040px

footer.footer
  background-color: #81807a
  padding: 40px 0
  height: 175px
  position: relative
  z-index: 11
  margin-left: 80px
  +box-sizing(border-box)
