@import url(http://fonts.googleapis.com/css?family=Play:400,700)
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans)

@font-face
  font-family: 'Kuro-Regular'
  src: font-url('KuroRegular.eot')
  src: font-url('KuroRegular.eot?#iefix') format('embedded-opentype'), font-url('KuroRegular.woff') format('woff'), font-url('KuroRegular.ttf') format('truetype')
  font-style: normal
  font-weight: normal

body
  font-size: 0.8125rem
  line-height: 1.5
  -webkit-font-smoothing: antialiased

h1, h2, h3
  margin: 0
  font-family: 'Kuro-Regular'

h1
  font: 4.25rem/1 'Kuro-Regular'
  .presenter &
    line-height: .9

h2
  font: 1.875rem/1 'Kuro-Regular'
  //'Josefin Sans'

p
  margin-bottom: 1rem
