<div class="subnavigation active">
  <ul>
    <li><%= link_to 'Main Principles', '/pages/approach'%></li>
    <li><%= link_to 'Components approach', '/pages/approach/components.html'%></li>
    <li><%= link_to 'Standardized Naming', '/pages/approach/naming.html'%></li>
    <li><%= link_to 'Simplicity', '/pages/approach/simplicity.html'%></li>
  </ul>
</div> <!-- /subnavigation -->
