<div class="subnavigation active">
  <ul>
    <li><%= link_to 'Main Principles', '/pages/approach'%></li>
    <li><%= link_to('Modularity', '/pages/approach/modularity.html')%></li>
    <li><%= link_to('Naming', '/pages/approach/naming.html')%></li>
  </ul>
</div> <!-- /subnavigation -->
