<p>Before getting to actual code writing look through all design screens of your application and think about interface you see in terms of elements. You will definitely see several heading styles repeated through all screens, alike button styles with minor differences in colors or sizes and uniform inputs, textareas etc. Start extractig these simple elements and implement them independently, so it doesn't matter where you place them, they would look the same.</p>
<div class="note">
  The only dependency for all elements is typography. You wouldn't like to hardcode font families or font sizes into each element. Typography should be changed in one place and be applied to entire interface.
</div>
<p>Once you have all of obejcts implemented, you can craft pages super easy and quickly, just like building something from LEGO blocks.</p>
