<header class="header">
  <h1>Approach</h1>
</header>
<article class="main">
  <h1>Modularity</h1>
  <div class="article-content">
    <p>Most of progressive CSS approaches are built around modularity, which is pretty common nowadays. Every web interface consists of components (interface elements) and it should be built witch CSS using same principal. Having your interface sliced into independent re-usable components gives you ability to avoid writing redundant code, keep consistancy of interface and makes it a lot easier to change interface.</p>
    <p>Upcomming web components technologies follow the principle of incapsulation all the logic behaviour and look of a component so that you can modify it only via external API. The same we can do with CSS.</p>
    <p></p>
    - started from OOCSS (thousands years ago)
    - web components are being built following the same principle
    - Independent components
  </div>
</article>