<header class="header">
  <h1>Naming</h1>
</header>
<article class="main">
  <p>The more you do frontend development and write your own stylesheets, the more you begin to value using good names in your code.</p>
  - Standard name for every element
  - Stop messing css selectors
  - Component name classes and modifier classes
  - Helpers naming
</article>