<%= render_partial "subnavigation" %>
<header class="header">
  <h1>Approach</h1>
</header>
<article class="main">
  <h1>Naming conventions</h1>
  <div class="article-content">
    <p>The more you do frontend development and write your own stylesheets, the more you begin to value using good names in your code.</p>
    - Standard name for every element
    - Stop messing css selectors
    - Component name classes and modifier classes
    - Helpers naming
  </div>
</article>
