<%= render_partial "subnavigation" %>
<header class="header">
  <h1>Approach</h1>
</header>
<article class="main">
  <h1>List of Standard Classes</h1>
  <div class="article-content">
    <table>
      <thead>
        <tr>
          <th width="150">Selector</th>
          <th>Component</th>
          <th>Comment</th>
        </tr>
      </thead>
      <tbody>
        <tr class="divider"><td colspan="3">Layout classes</td></tr>
        <tr>
          <td><code>.wrapper</code></td>
          <td>Wrapper element</td>
          <td>Most often used for sticky footer</td>
        </tr>
        <tr>
          <td><code>.container</code></td>
          <td>Wrapper that sets width and centers content</td>
          <td>aka <code>{ width: 960px; margin: 0 auto }</code></td>
        </tr>
      </tr>
        <tr>
          <td><code>header.header</code></td>
          <td>Page header</td>
          <td></td>
        </tr>
        <tr>
          <td><code>section.body</code></td>
          <td>Page body</td>
          <td></td>
        </tr>
        <tr>
          <td><code>footer.footer</code></td>
          <td>Page footer</td>
          <td></td>
        </tr>
        <tr>
          <td><code>aside.sidebar</code></td>
          <td>Page Sidebar</td>
          <td></td>
        </tr>
        <tr>
          <td><code>section.content</code></td>
          <td>Page main content</td>
          <td>Used along with sidebar</td>
        </tr>
        <tr class="divider"><td colspan="3">Components</td></tr>
        <tr>
          <td><code>.navigation</code></td>
          <td>Navigation element</td>
          <td></td>
        </tr>
        <tr>
          <td><code>.pagination</code></td>
          <td>Pagination</td>
          <td></td>
        </tr>
        <tr>
          <td><code>.tabs > .tab</code></td>
          <td>Tabs navigation</td>
          <td>Parent element uses plural 'tabs' and each tab is named singular</td>
        </tr>
        <tr>
          <td><code>.breadcrumbs</code></td>
          <td>Breadcrumbs</td>
          <td></td>
        </tr>
        <tr>
          <td><code>.dropdown</code></td>
          <td>Context menu</td>
          <td>Used to organize list of links that is hidden by default</td>
        </tr>
        <tr>
          <td><code>.article</code></td>
          <td>Entry item</td>
          <td>Used for different kinds of entries</td>
        </tr>
        <tr>
          <td><code>.thumbnail</code></td>
          <td>Image thumbnails</td>
          <td></td>
        </tr>
        <tr>
          <td><code>.media</code></td>
          <td>Media object</td>
          <td>Abstract object styles for building various types of entries (like blogposts, comments, etc) that feature a left- or right-aligned image alongside textual content.</td>
        </tr>
        <tr>
          <td><code>.panel</code></td>
          <td>Panel block</td>
          <td>Used if you need to put some content in a box</td>
        </tr>
        <tr>
          <td><code>.tooltip</code></td>
          <td>Tooltips</td>
          <td></td>
        </tr>
        <tr>
          <td><code>.popup</code></td>
          <td>Popups</td>
          <td></td>
        </tr>
        <tr>
          <td><code>.flash</code></td>
          <td>Flash messages</td>
          <td></td>
        </tr>
        <tr>
          <td><code>.label</code></td>
          <td>Labels</td>
          <td></td>
        </tr>
        <tr>
          <td><code>.button</code></td>
          <td>Buttons</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</article>
