<header class="header">
  <h1>Approach</h1>
</header>
<article class="main">
  <h1>What/how is this?</h1>
  <div class="article-content">
    <p>Everyone’s wish is easy-maintainable, simple code that accomplishes initial goal of building product.</p>
    <p>But real life often shows that designs are often done in chunks with weeks gap between ones, fixes fit ok at the very end of huge CSS file, adding new rule is more effective that investigatng into existing, coding element in way it will work just here and that’s it, short-hand class names are understandable enough and its not essentially that guy from other team should share your practices and approaches or at least be aware of them.</p>
    <p>
      So our approach starts from getting away from
      <ul>
        <li>writing code without having approach stated</li>
        <li>just continue adding elements without paying attention could they be merged with existing ones</li>
        <li>creating location-dependent elements</li>
        <li>using hardly understandable shortcuts in elements’ class names</li>
        <li>writing hardly maintainable fixes.</li>
      </ul>
    </p>
    <p>
      And we are going to accomplish that by:
      <ul>
        <li>define approach, share and follow it</li>
        <li>assembling all elements (objects, modules etc.) into UI library with design process involved</li>
        <li>creating completely location-independent elements</li>
        <li>use simple, semantic and human class names</li>
        <li>avoid to use hacks.</li>
      </ul>
    </p>
  </div> <!-- /article-content -->
</article>

