<header class="header approach">
  <h1>Approach</h1>
</header>
<div class="container">
  <h1>Naming Conventions</h1>
  <p>When the jQuery project first started, I remember how passionate the team was about helping developers use the jQuery JavaScript library. It was a labor of love with all of us putting in countless numbers of hours, day and night, to help grow the project and the developer community. And we did those for free because we just loved doing it. But as the project grew, so did the expectations from the community in terms of features and support. And this is where most open-source efforts fail to scale.</p>
</div>