<div class="subnavigation active">
  <ul>
    <li><a href="#">Grid</a></li>
    <li><a href="#">Typography</a></li>
    <li><a href="#">Components</a></li>
    <li><a href="#">Customize</a></li>
  </ul>
</div> <!-- /subnavigation -->
