<%= render_partial "subnavigation" %>
<header class="header">
  <h1>Toolkit</h1>
</header>
<article class="main">
  <h1>Grid and Helpers</h1>
  <div class="article-content">
    <h2>Grid</h2>
    <p>ApplePie Grid is easy to work with and very powerfull tool for building complex flexible and responsive layouts. This grid 6-column nestable grid which is really simple because it is  based on proportions rather than columns count. It is similar to <a href="https://github.com/stubbornella/oocss/wiki/Grids">OOCSS Grid</a> with extra features and more consistent naming.</p>
<ul>
  <li>Minimalistic and simple grid based on proportions (allows you not to count collumns but divide page into half, thirds, fourth, etc.)</li>
  <li>It is fluid and doesn't use fixed width for columns, so can scale to an arbitrary size (defined by the max width of the row)</li>
  <li>Infinite nesting and stacking</li>
  <li>It uses "box-sizing: border-box," so that borders and padding do not affect the overall width of the columns</li>
</ul>
    <h2>Helpers</h2>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div> <!-- /article-content -->
</article>