<header class="header">
  <h1>FAQ</h1>
</header>
<article class="main">
  <h1>We are frequently asked about...</h1>
  <div class="article-content">
    <h3 class="mbs question">What is ApplePie? Is it a framework?</h3>
    <p>Well, basically it is a set of conventions on naming, CSS organization and code style that bring standards into front-end development. This conventions can be used by any developer or team of developers and it doesn't matter if they write custom code from scratch or use any of available CSS frameworks.<br /> However, it comes with a conventions-based framework, that may be used by developers as any other CSS framework. But if you want to stick to ApplePie's conventions and you want to take some framework to start with, we recommend you to get started with ApplePie Toolkit, because it is based on and build on these conventions and you can easily extend or modify it.</p>
    <h3 class="mbs question">Can I use ApplePie Toolkit as a replacement of Bootstrap?</h3>
    <p>No. Right now Toolkit has only basic elements (like navigation, buttons, form fields, tables etc.) for building interface, and you might miss some building blocks that you got used to using, lets say, Bootstrap. But components can be easily added and toolkit is in active development, so we'll do our best to provide developers with all needed stuff. However, Toolkit has it's own grid system, set of helpers and good enough set of components to give a solid foundation to build everything on top of it.</p>
    <h3 class="mbs question">Do I need any pre-processor to use ApplePie?</h3>
    <p>First of all, ApplePie is both approach and toolkit.</p>
    <p>If you are reading these words, you've already have all needed to use ApplePie approach :)</p>
    <p>As for Toolkit, its built on <a href="http://sass-lang.org">Sass</a>. So to use it in its full advantage, you would have to get Sass. But there is the other way: you can just use already compiled css file (<code>applepie.css</code>) which is single united source of whole ApplePie Toolkit</p>
    <h3 class="mbs question">Well, it sounds good.. But do you really think that ApplePie conventions will help in 100% cases?</h3>
    <p>Actually, no. There will always be special cases, complex and interesting tasks which developers definitely have to solve themselves. The art will never become a monkey work. That's the initial idea - framework solves most of common-every-day tasks so that you focus on dealing with special cases.</p>
  </div> <!-- /article-content -->
</article>
