---
title: Welcome to ApplePie
---
<section class="presenter pbl">
  <div class="brand ptm pll mbl">
    <span class="brand-logo">applepie</span>
    <span class="authorship">
      by
      <span class="company">Railsware</span>
    </span>
  </div>
  <div class="container row">
    <a href="http://railsware.com" class="by-ribbon"><!-- RW product --></a>
    <div class="col2of5 mlm">
      <h1 class="mbm">Better way to build web interfaces</h1>
      <p class="mbl">As a web developer you read more code than you write, so it's quite important to keep your code clear, readable, consistent and explicit. ApplePie naming and organization conventions are built to bring standards to frontend development. </p>
      <a href="https://github.com/alchapone/applepie" class="button pale mrs">View on GitHub</a>
      <a href="/pages/approach" class="button directed">Experience More :)</a>
    </div> <!-- /col1of2 -->
  </div>
</section>
<section class="shaded pvl">
  <div class="container row">
    <div class="col1of2 prl">
      <div class="left mrm">
        <%= image_tag 'icon01.png'%>
      </div>
      <div class="last-col">
        <h2>Semantic CSS <span class="emphasis">Approach</span></h2>
        <p>Naming and organization conventions are built to bring more clarity. Learn how to write and organize your CSS to preserve code readability, modularity and maintainability.</p>
      </div>
    </div>
    <div class="col1of2 prm">
      <div class="left mrm">
        <%= image_tag 'icon02.png'%>
      </div>
      <div class="last-col">
        <h2>Modular <span class="emphasis">CSS toolkit</span></h2>
        <p>Getting started with ApplePie is easy. Whether you are building a simple site with some 'default' UI, or you are a SASS master building a new app - this toolkit will help you get up and running!</p>
      </div>
    </div>
  </div>
</section>
<section class="light pvl">
  <div class="container row">
    <h3 class="man">Some examples?</h3>
  </div> <!-- container row -->
  <div class="container row mbm">
    <div class="col1of2 prs">
      <div class="component opposite">
        <div class="example hidden">
          <div class="row">
            <div class="col-xs-6 col-md-3">
              <button type="button" class="btn btn-default navbar-btn">
                Sign in
              </button>
            </div>
            ...
          </div>
        </div> <!-- example hidden -->
      </div> <!-- component -->
    </div> <!-- col1of2 prl -->
    <div class="col1of2 pls">
      <div class="component proper">
        <div class="example hidden">
          <div class="row">
            <div class="col1of4">
              <button class="button action">
                Sign in
              </button>
            </div>
            ...
          </div>
        </div> <!-- example hidden -->
      </div> <!-- component -->
    </div> <!-- col1of2 prm -->
  </div> <!-- container row -->
</section>
