---
title: ApplePie - Semantic and modular CSS Framework. Better way to build web interfaces.
---
<section class="presenter">
  <div class="brand">
    <span class="brand-logo">applepie</span>
    <span class="authorship">
      by
      <span class="company">Railsware</span>
    </span>
  </div>
  <div class="container row">
    <a href="https://github.com/railsware/applepie">
      <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png">
    </a>
    <div class="col2of5">
      <h1 class="mbm">Better way to build web interfaces</h1>
      <p class="description">
        As a web developer you read more code than you write, so it's quite important to keep your code clear, readable, consistent and explicit.
        <span class="shortener">ApplePie naming and organization conventions are built to bring standards to frontend development.</span></p>
      <div class="mbm">
        <a href="https://github.com/railsware/applepie" class="button pale mrs">On GitHub</a>
        <a href="/pages/approach" class="button directed">Experience More :)</a>
      </div>
    </div> <!-- /col1of2 -->
    <div class="col3of5 plm">
      <%= image_tag 'hero.png', class: 'hero fittogrid'%>
    </div>
  </div>
</section>
<section class="light">
  <div class="by-center">
    <iframe src="http://ghbtns.com/github-btn.html?user=railsware&repo=applepie&type=watch&count=true&size=large" style="margin-top: 2px;" allowtransparency="true" frameborder="0" scrolling="0" width="140" height="30"></iframe>
    <iframe src="http://ghbtns.com/github-btn.html?user=railsware&repo=applepie&type=fork&count=true&size=large" height="30" style="margin-top: 2px;" width="140" frameborder="0" scrolling="0" style="" allowtransparency="true"></iframe>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.apppie.org" data-size="large" data-hashtags="applepie">Tweet</a>
    <script>
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    </script>
  </div>
</section>
<section class="shaded">
  <div class="container row adaptive">
    <div class="col1of2 prl">
      <div class="left mrm">
        <%= image_tag 'icon01.png', class: 'fittogrid'%>
      </div>
      <div class="last-col">
        <h2 class="mbm">Semantic CSS <span class="emphasis">Approach</span></h2>
        <p>Naming and organization conventions are built to bring more clarity. Learn how to write and organize your CSS to preserve code readability, modularity and maintainability.</p>
      </div>
    </div>
    <div class="col1of2 prm">
      <div class="left mrm">
        <%= image_tag 'icon02.png', class: 'fittogrid'%>
      </div>
      <div class="last-col">
        <h2 class="mbm">Modular <span class="emphasis">CSS toolkit</span></h2>
        <p>Getting started with ApplePie is easy. Whether you are building a simple site with some 'default' UI, or you are a SASS master building a new app - this toolkit will help you get up and running!</p>
      </div>
    </div>
  </div>
</section>
<section class="light">
  <div class="container row">
    <h3 class="mbs">Some examples?</h3>
  </div> <!-- container row -->
  <div class="container row adaptive">
    <div class="col1of2 prs">
      <h4>Without any conventions</h4>
      <div class="component wrong">
        <div class="example hidden">

        <header class="navbar navbar-default">

  <div class="content-wrapp-960">
    <ul class="nav navbar-nav">
      <li class="current-item"><a href="#">Home</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Contacts</a></li>
    </ul>
    <a href="#" class="btn btn-default navbar-btn pull-right">
      Sign in
    </a>
  </div>
</header>
<!-- -->
<footer>
  <ul class="secondary-footer-links muted">
    <li><a href="#" class="underlined">Github</a></li>
    <li><a href="#" class="underlined">Issues</a></li>
  </ul>
</footer>
        </div> <!-- example hidden -->
        <pre><code></code></pre>
      </div> <!-- component -->
    </div> <!-- col1of2 prl -->
    <div class="col1of2 pls">
      <h4>With ApplePie conventions</h4>
      <div class="component correct">
        <div class="example hidden">
  <header class="header">

    <div class="container">
      <ul class="navigation">
        <li><a href="#" class="active">Home</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contacts</a></li>
      </ul>
      <a href="#" class="button right">
        Sign in
      </a>
    </div>
  </header>
  <!-- -->
  <footer>
    <ul class="navigation">
      <li><a href="#">Github</a></li>
      <li><a href="#">Issues</a></li>
    </ul>
  </footer>
        </div> <!-- example hidden -->
        <pre><code></code></pre>
      </div> <!-- component -->
    </div> <!-- col1of2 prm -->
  </div> <!-- container row -->
</section>
