---
title: Welcome to ApplePie
---
<section class="presenter">
  <div class="container row">
    <h1 class="brand">applepie</h1>
    <div class="col1of2">
      <br /><br /><br /><br />
      <h1>Better way to build your web interfaces</h1>
      <p>As a web developer you read more code than you write, so it's quite important to keep your code clear and readable and . </p>
      <a href="#" class="button">Getting Started</a>
    </div>
    <div class="col1of2">
      <%= image_tag 'hero01.png', class: 'right fittogrid'%>
    </div>
  </div>
</section>
<section class="shaded">
  <div class="container row">
    <div class="col1of2 prl">
      <div class="left mrm">
        <%= image_tag 'icon01.png'%>
      </div>
      <div class="last-col">
        <h2>Semantic CSS Approach</h2>
        <p>Naming and organization conventions are built to bring more clarity. Learn how to write and oragnize your CSS to preserve code readability, modularity and maintainability.</p>
      </div>
    </div>
    <div class="col1of2 prm">
      <div class="left mrm">
        <%= image_tag 'icon02.png'%>
      </div>
      <div class="last-col">
        <h2>Modular and responsive toolkit</h2>
        <p>Getting started with ApplePie is easy. Whether you are building a simple site with a 'default' UI, or you are a master of SASS, building a new app - this toolkit will help you get up and running!</p>
      </div>
    </div>
  </div>
</section>
<section class="light">
  <div class="container row">
    <div class="col1of2 prl">
      <h2>Want to get familiar?</h2>
      <p>ApplePie is open source and may be used as a starter toolkit for bootstraping and prototiping your application. You can include whole toolkit to your project or use individual ApplePie modules that may be replaced or restyled in future.</p>
      <a href="#" class="button">Chek out docs</a>
    </div>
    <div class="col1of2 prl">
      <h2>Want to try it out?</h2>
      <p>As the simplest way to get started, the straight CSS version is perfect if you want to just start writing code or hacking on a simple, static site.</p>
      <a href="" class="button warning">Go grab CSS</a>
    </div>
  </div>
</section>
